  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{- if .IsHome -}}
    {{- .Site.Title }} - {{ .Site.Params.slogan -}}
    {{- else -}}
    {{- .Title }} - {{ .Site.Title -}}
    {{- end -}}
  </title>
  <meta name="description" content="{{ .Description  | default .Summary }}">
  {{ partial "libsass" "scss/main.scss" }}

    <!-- {{ .Site.Title }}{{ if not .IsHome }} - {{ .Title }}{{ end }}</title>
  {{ partial "libsass" "scss/main.scss" }} -->
  <!-- <script src="{{ .Site.BaseURL }}/node_modules/@popperjs/core/dist/esm/popper.js"></script> -->
  <!-- <script src="{{ .Site.BaseURL }}/node_modules/bootstrap/dist/bootstrap.js"></script> -->