  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{- if .IsHome -}}
    {{- .Site.Title }} - {{ .Site.Params.slogan -}}
    {{- else -}}
    {{- .Title }} - {{ .Site.Title -}}
    {{- end -}}
  </title>
  <meta name="description" content="{{ .Description  | default .Summary }}">
  {{- /* alternate output formats e.g. rss feed */ -}}
  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | absURL }}">
{{ end -}}

{{- /* canonical rel tags */ -}}
<link rel="canonical" href="{{ .Permalink | safeURL }}">
  {{ partial "libsass" "scss/main.scss" }}

