  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{- if .IsHome -}}
    {{- .Site.Title }} - {{ .Site.Params.slogan -}}
    {{- else -}}
    {{- .Title }} - {{ .Site.Title -}}
    {{- end -}}
  </title>
  <meta name="description" content="{{- with .Description -}}{{- . -}}{{- else -}}{{- if .IsPage -}}{{ .Summary }}{{- else -}}{{ .Site.Params.defaultDescription }}{{- end -}}{{- end -}}">
  {{- /* alternate output formats e.g. rss feed */ -}}
  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
{{- /* canonical rel tags */ -}}
{{ if and .IsNode (not .IsHome) -}}
<link rel="canonical" href="{{ .Paginator.URL | absURL }}">
{{- if .Paginator.HasNext -}}
<link rel="next" href="{{ .Paginator.Next.URL | absURL }}">
{{- end -}}
{{- if .Paginator.HasPrev -}}
<link rel="prev" href="{{ .Paginator.Prev.URL | absURL }}">
{{- end -}}
{{- else -}}
<link rel="canonical" href="{{ .Permalink | absURL }}">
{{- end -}}
{{- if .Params.private -}}
<meta name="robots" content="noindex, nofollow">
{{- else if .Params.robots -}}
<meta name="robots" content="{{ .Params.robots }}">
{{- end -}}

{{ partial "libsass" "scss/main.scss" }}

