<div class="div container">
  <nav class="navbar navbar-expand-lg navbar-light bg-body">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" class="logo" alt="proMusica">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link{{ if $.IsMenuCurrent "main" . }} active" aria-current="page{{ end }}" 
            href="{{ .URL }}" {{ if eq .Params.blank true }} target="_blank" rel="noopener"{{ end }}>{{ .Name }}</a>
          </li>
          {{ end }}
          <div class="d-flex align-items-center">
            <li class="btn-group nav-item px-5">
              {{ if .IsTranslated }}
              {{ range .Translations }}
              <a class="btn btn-warning btn-sm dropdown-toggle" href="{{ .Permalink }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Site.Language.LanguageName }}</a>
              {{ end }}
              {{ else }}
              {{ if eq .Site.Language.Lang "de" }}
              <a class="dropdown-item" href="#">Deutsch</a>
              {{ else }}
              <a class="dropdown-item" href="#">English</a>
              {{ end }}
              {{ end }}
            </li>

            <div class="btn-group dropend">
              {{ $currentPage := . }}
              {{ range .Site.Menus.secondary }}
                {{ if .HasChildren }}
                  <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ .Pre }}<span>{{ .Name }}</span>
                    </button>
                    <ul class="sub-menu dropdown-menu me-auto mb-2 mb-lg-0" data-bs-toggle="dropdown" aria-labelledby="dropdownMenuLink">
                      {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "secondary" . }}active{{ end }}">
                          <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                      {{ end }}
                    </ul>
                  </div>
                {{ else }}
                  <li>
                    <a href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
                  </li>
                {{ end }}
              {{ end }}
            </div>            
            
          </div>        
        </ul>  
      </div>    
    </div>   
  </nav>
 
</div>
